@media (max-width: 84em) {
  html {
    font-size: 77%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 37.5%;
  }
}
