.menu,
.name {
  position: relative;
}
#hidden-input,
.dropdown-menu {
  opacity: 0;
  pointer-events: none;
}
.header,
.language-box,
.options {
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #1b2d2a;
  font-size: 92%;
  font-family: monospace;
}
.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 12.8rem 0;
}
#hidden-input {
  position: absolute;
}
.speed-dial {
  color: #fafafa;
  font-size: 3.2rem;
  text-align: left;
  padding-bottom: 3.2rem;
  font-weight: 520;
}
.dropdown-menu,
.header,
.logo {
  font-size: 1.8rem;
}
.text-container {
  white-space: break-spaces;
  border-radius: 1px;
  align-self: center;
  letter-spacing: 3px;
  text-align: left;
  font-weight: 500;
  max-height: 11.05rem;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 98%,
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 98%,
    rgba(0, 0, 0, 0)
  );
  transition:
    opacity 0.25s,
    transform 0.25s;
}
.logo,
.name {
  font-style: italic;
  font-weight: 580;
  letter-spacing: -0.1px;
  text-transform: uppercase;
}
.text-container::-webkit-scrollbar {
  display: none;
}
.text-container.fade-out {
  opacity: 0;
  transform: translateY(10px);
}
.text-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.header {
  padding: 2.4rem 3.6rem;
  color: #eee;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
  padding: 0.8rem 1.2rem;
  color: #cdff1af3;
}
.options {
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
}
.menu:last-child {
  margin-right: 0;
}
.name {
  transition: 0.3s;
}
.name span {
  border: 10px solid transparent;
}
.name:hover {
  color: #cdff1ad0;
  cursor: pointer;
}
.name:active,
.option:hover,
.white-bg {
  color: #cbff10f4;
}
.dropdown-menu {
  width: 120%;
  text-transform: capitalize;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  letter-spacing: normal;
  font-style: normal;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.option {
  width: 100%;
  text-align: center;
  padding: 0.4rem;
  font-weight: 520;
  transition: 0.5s;
  color: #f0f1f1;
}
.option:hover {
  cursor: pointer;
  scale: 1.1;
}
.option:active {
  color: #cdff1af3;
}
.dropdown-menu-show {
  pointer-events: all;
  opacity: 1;
}
.green-text,
.grey-text,
.red-text,
.yellow-bg {
  font-size: 3rem;
}
.grey-text {
  color: #fafafa;
}
.green-text {
  color: #495755;
}
.red-text {
  color: #ff4800f3;
  text-decoration: underline;
}
.yellow-bg {
  background-color: #cbff10f4;
  color: #000;
}
@media (max-width: 84em) {
  html {
    font-size: 77%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 68.75%;
  }
  .header {
    flex-direction: column;
    gap: 1.4rem;
    padding: 2rem 0;
  }
  .logo {
    padding: 0;
  }
}
@media (max-width: 44em) {
  .speed-dial {
    margin-left: 4.4rem;
  }
  .text-container {
    max-height: 14.732rem;
    padding: 0 4.4rem;
  }
}
@media (max-width: 34em) {
  .container {
    padding: 10rem 0;
  }
  .text-container {
    padding: 0 6.2rem;
    max-height: 22.1rem;
  }
  .speed-dial {
    margin-left: 6.2rem;
  }
}

.name span:focus-visible {
  outline-offset: 0px;
  outline: #cbff10f4 solid 2px;
  border-radius: 2px;
}
.option:focus-visible {
  outline: #cbff10f4 solid 2px;
  border-radius: 2px;
}
